﻿@model UsersViewModel
@using LibraryTest.Models

@{
    ViewBag.Title = "Библиотека";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<script type="text/javascript">
    //Вернет токен против подделки
    function getRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onAdminConfirm(id, event) {
        event.preventDefault();
        swal({
            title: "Внимание",
            text: "Вы действительно хотите подтвердить учетную запись?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Да",
            cancelButtonText: "Нет",
            closeOnConfirm: false,
            closeOnCancel: true,
        },
        function (isConfirm)
        {
            if (isConfirm)
            { 
                $.ajax({
                    cache: false,
                    async: true,
                    url: '@Url.Action(actionName: "AdminConfirm", controllerName: "Admin")',
                    type: 'POST',
                    dateType: JSON,
                    data: getRequestVerificationToken({"id": id}),
                    success: function (result) {
                        var _title = "";
                        if (result.MessageType == "success") {
                            _title = "Готово!";
                        }
                        else if (result.MessageType == "info") {
                            _title = "Информация";
                        }
                        else if (result.MessageType == "error") {
                            _title = "Упс!"
                        }
                        swal({
                            title: _title,
                            text: result.Message,
                            type: result.MessageType,
                        },
                        function () {
                            window.location.reload();
                        });
                    }        
                });                                                                
            }
        });          
    };

    function onAdminCancelConfirm(id, event) {
        event.preventDefault();
        swal({
            title: "Внимание",
            text: "Вы действительно отменить подтверждение учетной записи?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Да",
            cancelButtonText: "Нет",
            closeOnConfirm: false,
            closeOnCancel: true,
        },
        function (isConfirm)
        {
            if (isConfirm)
            { 
                $.ajax({
                    cache: false,
                    async: true,
                    url: '@Url.Action(actionName: "AdminCancelConfirm", controllerName: "Admin")',
                    type: 'POST',
                    dateType: JSON,
                    data: getRequestVerificationToken({"id": id}),
                    success: function (result) {
                        var _title = "";
                        if (result.MessageType == "success") {
                            _title = "Готово!";
                        }
                        else if (result.MessageType == "info") {
                            _title = "Информация";
                        }
                        else if (result.MessageType == "error") {
                            _title = "Упс!"
                        }
                        swal({
                            title: _title,
                            text: result.Message,
                            type: result.MessageType,
                        },
                        function () {
                            window.location.reload();
                        });
                    }        
                });                                                                
            }
        });          
    };

</script>

<style>
    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #E3F2FD;
    }
</style>

<h2>Пользователи</h2>

<form method="get" style="margin-bottom: 10px">
    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DisplayNameFor(model => model.FilterValue)
        @Html.EditorFor(model => model.FilterValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите ФИО или email..."} })
        @Html.ValidationMessageFor(model => model.FilterValue, "", new { @class = "text-danger" })
        <input type="submit" value="Найти" class="btn btn-default" />
    </div>
</form>

<p>
    @Html.ActionLink("Добавить пользователя", "Create")
</p>
<table class="table" style="border:solid; border-width: 2px;">
    <tr>
        <th>
            Электронная почта
        </th>
        <th>
            Почта подтверждена
        </th>
        <th>
            Акк. подтврежден админист.
        </th>
        <th>
            ФИО
        </th>
        <th>Меню</th>
    </tr>

    @foreach (var item in Model.ApplicationUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Extensions.GetDV_String(item.EmailConfirmed)
            </td>
            <td>
                @Extensions.GetDV_String(item.VerifiedByAdmin)
            </td>
            <td>
                @(item.LastName + " " + item.FirstName + " " + Extensions.GetDV_String(item.MiddleName, ""))
            </td>
            <td>
                <details>
                    <summary>Действия</summary>
                    <div style="display:inline-grid">
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                        @if (item.VerifiedByAdmin)
                        {
                            @Html.ActionLink("Опровергнуть", null, null, null, new { onclick = "onAdminCancelConfirm(\"" + item.Id.ToString() + "\", event)" })
                        }
                        else
                        {
                            @Html.ActionLink("Подтвердить", null, null, null, new { onclick = "onAdminConfirm(\"" + item.Id + "\", event)" })
                        }
                    </div>
                </details>

            </td>
        </tr>
    }

</table>
