﻿@model LibraryTest.Models.BooksModel
@using LibraryTest.Models
@{
    ViewBag.Title = "Библиотека";
}

<h2>Удаление книги</h2>

<h3>Вы действительно хотите удалить следующую книгу?</h3>
<div>
    <h4>Данные книги</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ganre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ganre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuingStatus)
        </dt>

        <dd>
            @Extensions.GetDV_String(Model.IssuingStatus, "Выдана", "В библиотеке")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку книг", "Index")
        </div>
    }
</div>
