﻿@model LibraryTest.Models.BookDetailsModel
@using LibraryTest.Models

@{
    ViewBag.Title = "Библиотека";
}

<style>
    div.comment {
        display: inline-grid;
        background-color: #E3F2FD;
        width: 100%;
        border: solid;
        border-width: 1px;
        border-color: #1A237E;
        border-collapse: collapse;
        margin-bottom: 5px;
    }
    div.commenttop {
        display: inline-block;
        background-color: #BBDEFB;
        border-bottom:solid;
        border-width: 1px;
        border-color: #1A237E;
    }
</style>

<div>
    <h3>Отзывы и описание</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Ganre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Ganre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralRating)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Обратно к списку книг", "Index")
    </p>
</div>
<div>
    <hr />
    @if (Model.CurrentUserComment != null)
    {
        <details open="open">
            <summary>Мой отзыв</summary>
            <div class="comment">
                <div class="commenttop">
                    <div style="margin-left: 5px">
                        @Html.DisplayNameFor(model => model.CurrentUserComment.CommentDate):
                        @Html.DisplayFor(model => model.CurrentUserComment.CommentDate) |
                        @Html.DisplayNameFor(model => model.CurrentUserComment.Rating):
                        @Extensions.GetDN_String((CommentCreateViewModel.RatingParameters)Model.CurrentUserComment.Rating).ToLower()
                    </div>
                </div>
                <div style="margin-left: 5px">
                    @Html.DisplayFor(model => model.CurrentUserComment.Text)
                </div>
            </div>    
        </details>
    }
    else
    {
        @Html.ActionLink("Оставить отзыв", "CreateComment", new { BookId = Model.Book.Id})
    }
</div>
<div>
    @if (Model.AllComments.Count > 0)
    {   
        <details style="margin-top: 5px">
            <summary>Отзывы пользователей</summary>
            @foreach (CommentsModel item in Model.AllComments)
            {
                <div class="comment">
                    <div class="commenttop">
                        <div style="margin-left: 5px">
                            Читатель: @(item.ApplicationUser.FirstName + " " + item.ApplicationUser.LastName) |
                            @Html.DisplayNameFor(model => model.CurrentUserComment.CommentDate): @item.CommentDate.Date.ToShortDateString() |
                            @Html.DisplayNameFor(model => model.CurrentUserComment.Rating): 
                            @Extensions.GetDN_String((CommentCreateViewModel.RatingParameters)item.Rating).ToLower()
                        </div>
                    </div>
                    <div style="margin-left: 5px">
                        @Html.DisplayFor(model => item.Text)
                    </div>
                </div>
            }
        </details>
    }
    else if (Model.CurrentUserComment == null)
    {
        <div>Здесь еще нет отзывов, оставьте свой!)</div>
    }
    else
    {
        <div style="margin-top: 5px">Отлично! Ваш отзыв первый.</div>
    }
</div>
