﻿@model LibraryTest.Models.JustUsersBooksViewModel
@using LibraryTest.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Библиотека";
    BooksModel booksModel = new BooksModel();
    string UserId = User.Identity.GetUserId();
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<script type="text/javascript">
    //Вернет токен против подделки
    function getRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onSelectFilterParameter(withFocus = true, withClear = true) {
        if (withClear) {
            $("#FilterValue").val("");
        };
        switch ($("#FilterParameter :selected").text()) {
            case "автору":
                document.getElementById("FilterValue").placeholder = "Введите автора...";
                break;
            case "жанру":
                document.getElementById("FilterValue").placeholder = "Введите жанр...";
                break;
            case "издателю":
                document.getElementById("FilterValue").placeholder = "Введите издателя...";
                break;
            case "наименованию":
                document.getElementById("FilterValue").placeholder = "Введите наименование...";
                break;
        };
        if (withFocus) {
            $("#FilterValue").focus();
        };
    };

    window.onload = function () {
        onSelectFilterParameter(withFocus = false, withClear = false);
    };

    function onCancelReservation(id, event) {
        event.preventDefault();
        swal({
            title: "Внимание",
            text: "Вы действительно хотите отменить бронь?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Да",
            cancelButtonText: "Нет",
            closeOnConfirm: false,
            closeOnCancel: true,
        },
        function (isConfirm)
        {
            if (isConfirm)
            {
                $.ajax({
                    cache: false,
                    async: true,
                    url: '@Url.Action(actionName: "CancelReservation", controllerName: "JustUserBooks")',
                    type: 'POST',
                    dateType: JSON,
                    data: getRequestVerificationToken({"id": id}),
                    success: function (result) {
                        var _title = "";
                        if (result.MessageType == "success") {
                            _title = "Готово!";
                        }
                        else if (result.MessageType == "info") {
                            _title = "Информация";
                        }
                        else if (result.MessageType == "error") {
                            _title = "Упс!"
                        }
                        swal({
                            title: _title,
                            text: result.Message,
                            type: result.MessageType,
                        },
                        function () {
                            window.location.reload();
                        });
                    }
                });
            }
        });
    };

    function onReserveBook(id, event) {
        event.preventDefault();
        $.ajax({
            cache: false,
            async: true,
            url: '@Url.Action(actionName: "ReserveBook", controllerName: "JustUserBooks")',
            type: 'POST',
            dateType: JSON,
            data: getRequestVerificationToken({"id": id}),
            success: function (result) {
                var _title = "";
                if (result.MessageType == "success") {
                    _title = "Готово!";
                }
                else if (result.MessageType == "info") {
                    _title = "Информация";
                }
                else if (result.MessageType == "error") {
                    _title = "Упс!"
                }
                swal({
                    title: _title,
                    text: result.Message,
                    type: result.MessageType,
                },
                function () {
                    window.location.reload();
                });
            }
        });
    };

</script>

<style>
    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #E3F2FD;
    }
</style>

<h2>Список книг</h2>

<form method="get" style="margin-bottom: 10px">
    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.DisplayNameFor(model => model.FilterParameter)
        @Html.EnumDropDownListFor(model => model.FilterParameter,
            new { @class = "form-control", @onchange = "onSelectFilterParameter();" })

        @Html.EditorFor(model => model.FilterValue, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FilterValue, "", new { @class = "text-danger" })

        @Html.DisplayNameFor(model => model.ReservationStatusParameter)
        @Html.EnumDropDownListFor(model => model.ReservationStatusParameter,
            new { @class = "form-control" })

        <input type="submit" value="Применить фильтр" class="btn btn-default" />
    </div>
 </form>

    <table class="table" style="border:solid; border-width: 2px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => booksModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => booksModel.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => booksModel.Ganre)
            </th>
            <th>
                @Html.DisplayNameFor(model => booksModel.Publisher)
            </th>
            <th>Действия</th>
        </tr>
        @foreach (BooksModel item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ganre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                    |
                    @if (item.ApplicationUserId != null && item.ApplicationUserId == UserId)
                    {
                        @Html.ActionLink("Снять бронь", null, null, null, new { onclick = "onCancelReservation(" + item.Id + ", event)" })
                    }
                    else /*if (item.ApplicationUser == null && item.ApplicationUserId == null)*/ // Расскомментировать при необходимости явного запрета на попытку бронирования
                    {
                        @Html.ActionLink("Забронировать", null, null, null, new { onclick = "onReserveBook(" + item.Id + ", event)" })
                    }
                </td>
            </tr>
        }
    </table>
