﻿
@{
    ViewBag.Title = "Библиотека";
}

<h2>На почтовый ящик пользователя послано сообщение с автоматически сгенерированным паролем.</h2>
<hr />
@Html.ActionLink("Вернуться к списку пользователей", "Index", "Admin")

